.home-wrapper
  width: 100vw
  height: 100vh
  position: relative
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  background: url("../assets/storm-wall.jpg") center
  background-size: cover

  .home-content
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    height: 50%
    width: 40%
    box-sizing: content-box

  //&::after
  //  content: ""
  //  position: absolute
  //  left: 0
  //  bottom: 0
  //  z-index: 40
  //  right: 0
  //  background-repeat: repeat
  //  height: 40px
  //  background-size: 80px 80px
  //  background-image: radial-gradient(circle at 40px -0px, transparent 40px, #fff 1px)


