doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')
        title Cruise "Titanic 2"
    body

        header.header-wrapper
            .header-logo
                a(href="#")
                    img.header-logo__img(alt='logo' src='./assets/logo.png')
                    p.header-logo__text Titanic 2
            nav.header-nav
                p.header-nav__item
                    a(href='#home') Home
                p.header-nav__item
                    a(href='#cruise-info') Info
                p.header-nav__item
                    a(href='#slider') Photos
                p.header-nav__item
                    a(href='#when-how') Offer
            .burger-button
                div
                div
                div
            .burger-menu
                a.burger-menu__item(href='#home') Home
                a.burger-menu__item(href='#cruise-info') Info
                a.burger-menu__item(href='#slider') Photos
                a.burger-menu__item(href='#when-how') Offer
        section.home-wrapper#home(tabindex='0')
            .home-content
                h1.home-text(role='heading' aria-level='1') Tired of living?
                .home-content__buttons
                    a(href='#cruise-info')
                        button.yes-btn Yes
                    a.no-link(href='https://jquery.com' target="_blank")
                        button.no-btn No
        section.cruise-info#cruise-info(tabindex='0')
            img.cruise-info__img(src='./assets/cruise-ship-png-transparent-image.png' alt='cruise ship')
            .cruise-info__text
                h1.q(role='heading' aria-level='1') Titanic 2
                br
                h1 Tired of stupid friends, a family, an evil boss?
                h1 -
                    span.q WKY
                    |  offers you an unforgettable Atlantic cruise on the newest Titanic 2
        section.slider-wrapper#slider(tabindex='0')
            i.slider-arrow.left-arrow
            i.slider-arrow.right-arrow
            .slider-indicators-container
                .slider-indicator
                .slider-indicator
                .slider-indicator
            .slider
                img.slider__item(src='./assets/cruise-ship-restaurant.jpg' alt='restaurant')
                img.slider__item(src='./assets/waterpool2.jpg' alt='water pool')
                img.slider__item(src='./assets/dicaprio-in-water.webp' alt = 'dicaprio in water')
        section.when-how#when-how(tabindex='0')
            .when-how__text
                h1(role='heading' aria-level='1')  What this
                    span.q  trip
                    |  involves?
                br
                h2
                    ul
                        li 4 days unforgettable cruise
                        li Delicious food
                        li Lots of fun
                        li Swimming in the Atlantic Ocean
                button.buy-ticket Buy ticket
            .when-how__img
        .modal-window(role='alert')
            .modal-window__content
                .buy-ticket
                    input.buy-ticket__input#name(type='text' placeholder='Full name')
                    input.buy-ticket__input#email(type='e-mail' placeholder='E-mail')
                    input.buy-ticket__input#phone(type='text' placeholder='Phone')
                button.close-modal ok

