doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')
        title Cruise "Titanic 2"
    body
        header.header-wrapper
            .header-logo
                img.header-logo__img
                p.header-logo__text Titanic 2
            nav.header-nav
                p.header-nav__item
                    a(href='#') Home
                p.header-nav__item
                    a Trip
                p.header-nav__item
                    a Buy
                p.header-nav__item
                    a Home
        section.home-wrapper
            .home-content
                h1 Tired of living?
        section.cruise-info
            img.cruise-info__img(src='../assets/cruise-ship-png-transparent-image.png')
            .cruise-info__text
                h1.yellow-text Titanic 2
                br
                h1 Tired of stupid friends, a family, an evil boss?
                h1 -
                    span.yellow-text WKY
                    |  offers you an unforgettable Atlantic cruise on the newest Titanic 2
        section.slider-wrapper
            .slider
                img.slider__item(src='../assets/cruise-ship-restaurant.jpg')
                img.slider__item(src='../assets/cruise-ship-restaurant.jpg')
                img.slider__item(src='../assets/cruise-ship-restaurant.jpg')
        //section.home-wrapper
        //    //iframe(frameborder='0', height='100%', width='100%', src='https://youtube.com/embed/ID?autoplay=1&controls=0&showinfo=0&autohide=1')
        //    //.home-content

